
*.pyc
.idea/Code.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

.DS_Store
.idea/inspectionProfiles/Project_Default.xml
.idea/other.xml

*.pkl
*.txt
*.ipynb
onebox.ipynb
onebox.ipynb
oneboxColor.ipynb
*.ipynb
*.ipynb
realbelief.mat
posterior.mat
Results/04222019(1701)_twoboxCol.pdf
